<!--
  Copyright (c) 2016-2024 Martin Donath <martin.donath@squidfunk.com>

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to
  deal in the Software without restriction, including without limitation the
  rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
  sell copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
  FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
  IN THE SOFTWARE.
-->

<!-- Footer -->
<footer class="md-footer">

    <!-- Link to previous and/or next page -->
    {% if "navigation.footer" in features %}
      {% if page.previous_page or page.next_page %}
        {% if page.meta and page.meta.hide %}
          {% set hidden = "hidden" if "footer" in page.meta.hide %}
        {% endif %}
        <nav
          class="md-footer__inner md-grid"
          aria-label="{{ lang.t('footer') }}"
          {{ hidden }}
        >
  
          <!-- Link to previous page -->
          {% if page.previous_page %}
            {% set direction = lang.t("footer.previous") %}
            <a
              href="{{ page.previous_page.url | url }}"
              class="md-footer__link md-footer__link--prev"
              aria-label="{{ direction }}: {{ page.previous_page.title | e }}"
            >
              <div class="md-footer__button md-icon">
                {% set icon = config.theme.icon.previous or "material/arrow-left" %}
                {% include ".icons/" ~ icon ~ ".svg" %}
              </div>
              <div class="md-footer__title">
                <span class="md-footer__direction">
                  {{ direction }}
                </span>
                <div class="md-ellipsis">
                  {{ page.previous_page.title }}
                </div>
              </div>
            </a>
          {% endif %}
  
          <!-- Link to next page -->
          {% if page.next_page %}
            {% set direction = lang.t("footer.next") %}
            <a
              href="{{ page.next_page.url | url }}"
              class="md-footer__link md-footer__link--next"
              aria-label="{{ direction }}: {{ page.next_page.title | e }}"
            >
              <div class="md-footer__title">
                <span class="md-footer__direction">
                  {{ direction }}
                </span>
                <div class="md-ellipsis">
                  {{ page.next_page.title }}
                </div>
              </div>
              <div class="md-footer__button md-icon">
                {% set icon = config.theme.icon.next or "material/arrow-right" %}
                {% include ".icons/" ~ icon ~ ".svg" %}
              </div>
            </a>
          {% endif %}
        </nav>
      {% endif %}
    {% endif %}
  
    <!-- Further information -->
    <div class="md-footer-meta md-typeset">
      <div class="md-footer-meta__inner md-grid">
        {% include "partials/copyright.html" %}
  
        <!-- Social links -->
        {% if config.extra.social %}
          {% include "partials/social.html" %}
        {% endif %}
      </div>
    </div>
  </footer>